
  /* Some sensible defaults... */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  body {
    font-family: "Syne Mono", Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

/* The layout primitives for you to use */

.center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .width-sm {
    max-width: 20rem;
  }
  
  .width-lg {
    max-width: 60rem;
  }
  
  .stack-sm > * + * {
    margin-top: 0.5rem;
  }
  
  .stack-md > * + * {
    margin-top: 1rem;
  }
  
  .stack-lg > * + * {
    margin-top: 2rem;
  }
  
  .stack-xl > * + * {
    margin-top: 4rem;
  }
  
  .row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .gap-lg {
    gap: 2rem;
  }
  
  .gap-xl {
    gap: 4rem;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }
  
  .column-lg {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  /* Specific Layout*/

  header{
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 1.6rem;
  }

  input[type=text]{
    padding: 1ch;
    border-radius: 7px;
    border: 1px solid rgb(228, 222, 222);
    flex: 2 0 auto;
    width: 100%;
  }

  label{
    line-height: 200%;
    font-size: 1.1rem;
  }
  
  .add{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 1rem;
  }

  /* .add > *{
    flex: 1 auto 0;
  } */

  .task{
    border: 1px solid rgb(228, 222, 222);
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    margin: 1rem;
  }

  button {
    border: 1px solid rgb(228, 222, 222);
    padding: 0.5rem 1rem;
    border-radius: 15px
  }

  input[type=checkbox]{
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
  }

  section {
    max-width: 80vw;
    margin: 0 auto 3rem auto;
    position: relative;
    top: 2rem;
    background-color: black;
    padding: 1rem;
    opacity: 0.7;
    border-radius: 20px;
  }

  .todo {
    color: white;
    font-size: 1rem;
  }

  @media only screen and (max-width: 600px) {
    header {
      font-size: 1rem;
    }
    .task {
      padding: 0.5rem;
    }
  }
